{% extends 'layout.html' %}

{% block title %}
    Rezervacija
{% endblock %}

{% block content %}
    {% set reservation_link = "/reservations/" + reservation.id|string + "/" %}
    {% set edit_link = "/reservations/" + reservation.id|string + "/update" %}
    {% set function_link = "deleteReservation(" + reservation.id|string + ")" %}
    {% with crumbs=[{"link": "/reservations/", "title": "Rezervacije" }, {"link": reservation_link, "title": reservation.id}] %}
        {% include 'components/breadcrumbs.html' %}
    {% endwith %}
    {% with title='Rezervacija', button = {"link": edit_link, "title": "Uredi Rezervaciju"}, delete_button = {"deleteFunction": function_link, "title": "Obriši Rezervaciju"} %}
        {% include 'components/header.html' %}
    {% endwith %}
    <div class="container">
        <div class="atr-con">
            <h3>ID</h3>
            <span>{{ reservation.id }}</span>
        </div>
        <div class="atr-con">
            <h3>Frizer</h3>
            <span>{{ reservation.id_employee.name }} {{ reservation.id_employee.surname }}</span>
        </div>
        <div class="atr-con">
            <h3>Mušterija</h3>
            <span>{{ reservation.id_customer.name }} {{ reservation.id_customer.surname }}</span>
        </div>
        <div class="atr-con">
            <h3>Datum Rezervacije</h3>
            <span>{{ reservation.reservation_date }}</span>
        </div>
        <div class="atr-con">
            <h3>Stovreno</h3>
            <span>{{ reservation.created_at }}</span>
        </div>
        <div class="atr-con">
            <h3>Usluga</h3>
            <span><a href="/services/{{ reservation.id_service.id }}">{{ reservation.id_service.name }}</a></span>
        </div>
        <div class="atr-con">
            <h3>Cijena</h3>
            <span>€{{ reservation.id_service.price }}</span>
        </div>
    </div>
{% endblock %}
